@import 'normalize-css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

// đặt biến
:root {
    --primary: #fe2c55;
    --text-color: #161823;
    --balck: #000;
    --white: #fff;

    --defauly-layout-width: 1150px;
    --defauly-layout-header-height: 60px;
    --defauly-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// size là 10px
html {
    font-size: 62.5%;
}
// 10*1.6= 16px
body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// custom tippy tooltip

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        border-radius: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }

    .tippy-content {
        padding: 9px 9px;
    }
}
